<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV</title>
</head>
<body>
    <h1>{{ name }}</h1><br>
    <img src="https://cdna.artstation.com/p/assets/images/images/008/464/506/large/amit-baokar-goku-1-0.jpg?1512968898" height="100px" width="100px">
    <h2 style="color:lime;">Skills: </h2>
    <ul>
        <li>Vee Jitsu</li>
        <li>Nunchuks</li>
        <li>Bo Staff</li>
        <li>Yo-Yo</li>
    </ul>
    <h2 style="color:lime;">Hobbies: </h2>
    <ul>
        <li>{{ h1 }}</li>
        <li>{{ h2 }}</li>
        <li>{{ h3 }}</li>
    </ul>
    <h2 style="color:lime;">Strengths</h2>
    <p>All of them</p>
    <h2 style="color:lime;">Weaknesses</h2>
    <p>None</p>

</body>
</html>