{% extends 'base.html' %}
{% load material_form %}

{% block content %}
<div class="container">
 <div class="row">
     {% for genre in all_genres %}
    <div class="col l4 ">
        <div class="card blue lighten-1">
        <div class="card-content white-text">
          <span class="card-title">{{ genre.title|truncatechars:20}}</span>
          <p>{{ genre.creator }}</p>
          <p>{{ genre.type }}</p>
          <p>{{ media.genre }}</p>
        </div>
        <div class="card-action">
          <a style="color:#304ffe" href="https://google.com/search?q={{ media.title }} {{ media.creator }} "> Check out more</a>
          <a style="color:#304ffe" href="#">Forum Posts</a>
        </div>
      </div>
    </div>
     {% endfor %}
 </div>
    </div>
{% endblock %}