{% extends 'base.html' %}
{% load material_form %}

{% block content %}
  <div class="row">
    <div class="col s4 push-s4" style="background:white; opacity:.85; border-radius:5px; margin-top: 30px">
        <div class="card-content">
        <h4 style="text-align:center; ">Make a recommendation to throw into the Media Mix!</h4>
<form method="post">
    {% csrf_token %}
   {% form form=form %}{% endform %}
    <br>
    <button class="waves-effect  indigo accent-3 btn-large" name="create" style="margin-bottom:20px;" type="submit">Submit</button></form>
        </div>

      </div>
    </div>
  </div>


{% endblock %}