{% extends 'base.html' %}
{% load material_form %}

{% block content %}
<h1>{{ request.interests.type }}</h1>
<div class="container">
 <div class="row">
     {% for interest in interests %}
    <div class="col l4 ">
        <div class="card blue lighten-1">
        <div class="card-content white-text">
          <span class="card-title">{{ interest.title|truncatechars:20 }}</span>
          <p>{{ interest.creator }}</p>
          <p>{{ interest.genre }}</p>
            {% if surprise %}
          <p>{{ interest.type }}</p>
            {% endif %}
        </div>
        <div class="card-action">
          <a style="color:#304ffe" href="https://google.com/search?q={{ interest.title }} {{ interest.creator }} ">Find out more</a>
          <a style="color:#304ffe" href="#">Forum Posts</a>
        </div>
      </div>
    </div>
     {% endfor %}
 </div>
    </div>
{% endblock %}