{% extends 'base.html' %}
{% load material_form %}

{% block content %}
<h1 style="text-align:center">{{ page_h1 }}</h1>
<div class="container">
 <div class="row">
     {% for media in all_media %}
     {% if media.approved %}
    <div class="col l4 ">
        <div class="card deep-purple darken-2">
        <div class="card-content white-text">
          <span class="card-title">{{ media.title|truncatechars:20 }}</span>
          <p>{{ media.creator }}</p>
          <p>{{ media.genre }}</p>
            {% if surprise %}
          <p>{{ media.type }}</p>
            {% endif %}
        </div>
        <div class="card-action">
            <a style="color:white" href="https://google.com/search?q={{ media.title }} {{ media.creator }} "><button class="waves-effect blue lighten-1 btn-small">Find out more</button></a>
          <a style="color:white" href="{% url 'create_mediapost' media.id %}"><button class="waves-effect blue lighten-1 btn-small">Write review</button></a>
        </div>
      </div>
    </div>
     {% endif %}
     {% endfor %}
 </div>
    </div>
{% endblock %}