{% extends 'base.html' %}
{% load material_form %}

{% block content %}
<h1 style="text-align:center">{{ page_h1 }}</h1>
<br>
    {% if everything %}
<div id="filter" class="container" style="width:50%">
    <h6 style="text-align:center">To make your search easier, try this</h6>
    <form method="post">
        {% csrf_token %}
<input list="media" name="media" id="searchbar" style="border:#512da8 solid 2px; border-radius:2px" placeholder="Search...">
        <datalist id="media">
        {% for media in all_media %}
        <option value="{{ media.title }}">
        {% endfor %}
    </datalist>
<button type="submit" class="waves-effect blue lighten-1 btn-small" style="display:flex; justify-content:center;">Search</button>
        </form>
    </div>
    {% endif %}
<div class="container">
 <div class="row">
     {% for media in all_media %}
     {% if media.approved %}
    <div class="col l4 ">
        <div class="card deep-purple darken-2">
        <div class="card-content white-text">
          <span class="card-title">{{ media.title|truncatechars:20 }}</span>
          <p>{{ media.creator }}</p>
          <p>{{ media.genre }}</p>
            {% if surprise %}
          <p>{{ media.type }}</p>
            {% endif %}
        </div>
        <div class="card-action">
            <a style="color:white" target="_blank" href="https://google.com/search?q={{ media.title }} {{ media.creator }} "><button class="waves-effect blue lighten-1 btn-small">Find out more</button></a>
          <a style="color:white" href="{% url 'create_mediapost' media.id %}"><button class="waves-effect blue lighten-1 btn-small">Write review</button></a>
        </div>
      </div>
    </div>
     {% endif %}
     {% endfor %}
 </div>
    </div>
{% endblock %}