{% extends 'base.html' %}
{% load material_form %}

{% block content %}
<div style="text-align:center; weight:50%;">
<h1> These are your {{ request.user.profile.genre }} recommendations!</h1>
</div>
<div class="container">
<!-- Update Form       -->
    <h6 style="text-align:center"> Change genre</h6>
        <!-- Modal Trigger -->
<a style="display:flex; justify-content: center; margin-bottom:30px" class="waves-effect deep-purple darken-2 btn modal-trigger" href="#modal1">Choose</a>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <form method="post">
    {% csrf_token %}
   {% form form=form %}{% endform %}
    <br>
    <div class="modal-footer">
<button class="waves-effect  deep-purple darken-2 btn-large" style="margin-bottom:20px;" name="update" type="submit">Submit</button>
    </div>
      </form>
    </div>
  </div>
    </div>

<div class="container">
 <div class="row">
    <div class="col l6 ">
        <h1 style="text-align:center; color:black">{{ request.user.profile.interest_2 }}</h1>
        {% for interest in media_list_1 %}
        {% if interest.approved %}
      <div class="card deep-purple darken-2">
        <div class="card-content white-text">
          <span class="card-title">{{ interest.title }}</span>
          <p>{{ interest.creator }}</p>
          <p>{{ interest.type }}</p>
        </div>
        <div class="card-action">
          <a style="color:white" href="https://google.com/search?q={{ interest.title }} {{ interest.creator }}"> <button class="waves-effect blue lighten-1 btn-small">Check out more</button></a>
          <a style="color:white" href="{% url 'create_mediapost' interest.id %}"><button class="waves-effect blue lighten-1 btn-small">Write review</button></a>
        </div>
      </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="col l6 ">
        <h1 style="text-align:center; color:black">{{ request.user.profile.interest_3 }}</h1>
        {% for interest in media_list_2 %}
        {% if interest.approved %}
      <div class="card deep-purple darken-2">
        <div class="card-content white-text">
          <span class="card-title">{{ interest.title }}</span>
         <p>{{ interest.creator }}</p>
          <p>{{ interest.type }}</p>
        </div>
        <div class="card-action">
          <a style="color:white" href="https://google.com/search?q={{ interest.title }} {{ interest.creator }}"><button class="waves-effect blue lighten-1 btn-small">Check out more</button></a>
          <a style="color:white" href="{% url 'create_mediapost' interest.id %}"><button class="waves-effect blue lighten-1 btn-small">Write review</button></a>
        </div>
      </div>
        {% endif %}
        {% endfor %}
    </div>
 </div>

    </div>
{% endblock %}