{% extends 'base.html' %}
{% load material_form %}

{% block content %}
<h2 style="text-align:center;">Get Rec'd Forum</h2>
<div class="container">
  <a href="{% url 'create_post' %}" style="display:flex; justify-content:center;margin-bottom:20px" class="waves-effect deep-purple darken-2 btn-large">Create a Post</a>
  <div class="row">
      {% for post in posts %}
    <div class="col l4">
      <div class="card blue lighten-1" style="border-radius:5px">
        <div class="card-content white-text">
          <span class="card-title" style="text-align:center">{{ post.title }}</span>
           <h6>{{ post.content }}</h6>
          <p><small>{{ post.media }}</small></p>
          <br>
          <p>{{ post.profile.user }}</p>
          <p><small>{{ post.pubdate }}</small></p>
          <br>
          {% for comment in post.forumcomment_set.all %}
            <p><small>{{ comment.content }} - {{ comment.profile.user }}</small></p>

          {% endfor %}
        </div>
        <div class="card-action">
          <a href="#modal_{{ post.id }}" style="color:white" class="waves-effect deep-purple darken-2 btn-small modal-trigger">Comment</a>
        </div>
          <div id="modal_{{ post.id }}" class="modal">
    <div class="modal-content">
      <form method="post">
    {% csrf_token %}
   {% form form=form %}{% endform %}
    <br>
    <div class="modal-footer">
<button class="waves-effect  deep-purple darken-2 btn-large" style="margin-bottom:20px;" name="post" value="{{ post.id }}" type="submit">Submit</button>
    </div>
      </form>
    </div>
  </div>

      </div>
    </div>
        {% endfor %}
    </div>
  </div>
   </div>
{% endblock %}